.title{
    text-align: center;
    padding-left: 10px;
    margin-left: auto;
    padding-right: 10px;
    margin-right: auto;
}
.myForm{
    padding-left: 10px;
    margin-left: auto;
    padding-right: 10px;
    margin-right: auto;
}
